In [89]:
#Project1
print("This is your table:")

print("Name    |Age|Height|Score|")

girls= {"Samantha|": "17|" "5.5  |"  "80 |", "Jada    | " : "16|" "6.0 |" "85 |", "Jane    | " : "17|"  "5.4 |"  "70 |",
      "Claire  |" :"18|" "5.9|"  "60   |" , "Eliza   |" : "16|" "5.6|" " 76  |", "Mary    |": "16|" "5.5|" "66   |", "Susan   | ": "18|" "6.1|"
       "87  |" , "Waje    |" :"17|" "6.0|" "95   |", "Taibat  |" : "19|" "5.7" "50    |", "Lilian  |" : "17" "5.5|" "49    |"}
for pick in girls:
    print(pick,girls[pick])
    
boys= {"Charles |": "19|" "5.7|" "74   |", "Jude    | " : "16|" "5.9|" "87  |", "James   | " : "18|"  "5.8|"  "75  |",
      "Kelvin  |" :"16|" "6.1|"  "68   |" , "Biodun  |" : "18|" "5.9 |" " 66 |", "Wale    |": "17|" "5.6|" "68   |", "Kunle   | ": "17|" "5.4|"
       "87  |" , "Kayode  |" :"20|" "5.8|" "78   |", "Matthew |" : "18|" "5.7|" "98   |", "Tom     |" : "19|" "5.9|" "54   |"}
for pick in boys:
        print(pick,boys[pick])

This is your table:
Name    |Age|Height|Score|
Samantha| 17|5.5  |80 |
Jada    |  16|6.0 |85 |
Jane    |  17|5.4 |70 |
Claire  | 18|5.9|60   |
Eliza   | 16|5.6| 76  |
Mary    | 16|5.5|66   |
Susan   |  18|6.1|87  |
Waje    | 17|6.0|95   |
Taibat  | 19|5.750    |
Lilian  | 175.5|49    |
Charles | 19|5.7|74   |
Jude    |  16|5.9|87  |
James   |  18|5.8|75  |
Kelvin  | 16|6.1|68   |
Biodun  | 18|5.9 | 66 |
Wale    | 17|5.6|68   |
Kunle   |  17|5.4|87  |
Kayode  | 20|5.8|78   |
Matthew | 18|5.7|98   |
Tom     | 19|5.9|54   |

In [ ]:
#Project2
e = int(input("Enter your years of experience: "))
a = int(input("Enter your age: "))
if e >= 25 and a >= 55:
    print("Annual tax revenues is 5,600,000")
if e > 20 and a >= 45:
    print("Annual tax revenues is 4,480,000")
if e > 10 and a >= 35:
    print("Annual tax revenues is 1,500,000")
if e < 10 and a < 35:
    print("Annual tax revenues is 550,000")