In [20]:
#PROJECT 2
import pandas as pd
class Company():
    def Finance(self):
        comp_data = {"COMPANY":["Enron","Anderson","GK Jones","Mica","Dune"] ,
             "COMPANY'S SHARES":["1,000,000","1,500,000","3,000,000","250,000","800,000"],
             "COMPANY'S LIABILITY":["200,000","500,000","1,500,000","50,000","300,000"],
             "FOUNDING DATES" : [1987,1936,2001,1996,2008],
             "PERCENTAGE LEVERAGE": ["0.8","0.7","0.5","0.8","0.6"] }
        df = pd.DataFrame(comp_data)
        df.to_csv('companies_data.csv')
        print("File Created")

answer = input("Hello, Would you like to have the companies' data on your device?")
cd = Company()
if answer == "yes":
    cd.Finance()
elif answer == "no":
    print("OK, Have a good day")
else:
    print("Invalid data")

Hello, Would you like to have the companies' data on your device?yes
File Created

In [18]:
#PROJECT 1
import pandas as pd
name = []
matric_no = []
department = []
level = []
        
student_number = int(input("How many students do you want to add?")) 
        
for x in range(student_number):
    Name = input("Enter your name:")
    Matric_no = input("Enter your matric number:")
    Department = input("Enter your department:")
    Level = int(input("Enter your level:"))
    name.append(Name)
    matric_no.append(Matric_no)
    department.append(Department)
    level.append(Level)
    
data = {"Name" : name, "Matric Number": matric_no, "Department" : department, "Level": level}
df = pd.DataFrame(data)
df.to_csv("PAU-SMIS.csv")
df

How many students do you want to add?3
Enter your name:OPE ASHIRU
Enter your matric number:123456
Enter your department:LAW
Enter your level:100
Enter your name:ADE BENSON
Enter your matric number:128904
Enter your department:ECONOMICS
Enter your level:300
Enter your name:LAYLA KING
Enter your matric number:2365885
Enter your department:CHEMISTRY
Enter your level:400

         Name Matric Number Department  Level
0  OPE ASHIRU        123456        LAW    100
1  ADE BENSON        128904  ECONOMICS    300
2  LAYLA KING       2365885  CHEMISTRY    400